@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';

@import '@skeletonlabs/skeleton/themes/mona';
@import '@skeletonlabs/skeleton/themes/vox';
@import '@skeletonlabs/skeleton/themes/catppuccin';
@import '@skeletonlabs/skeleton/themes/crimson';
@import '@skeletonlabs/skeleton/themes/legacy';
@import '@skeletonlabs/skeleton/themes/pine';
@import '@skeletonlabs/skeleton/themes/terminus';
@import '@skeletonlabs/skeleton/themes/wintry';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/fennec';
@import '@skeletonlabs/skeleton/themes/mint';
@import '@skeletonlabs/skeleton/themes/nosh';
@import '@skeletonlabs/skeleton/themes/sahara';
@import '@skeletonlabs/skeleton/themes/concord';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
@import '@skeletonlabs/skeleton/themes/modern';
@import '@skeletonlabs/skeleton/themes/nouveau';
@import '@skeletonlabs/skeleton/themes/rocket';
@import '@skeletonlabs/skeleton/themes/seafoam';

@theme {
    --breakpoint-xsm: 680px;
}

html,
body {
    height: 100%;
}

body {
    @apply bg-surface-100;
}

body {
    background-image: radial-gradient(
            at 50% 0%,
            color-mix(in srgb, var(--color-secondary-500), transparent 82%) 0px,
            transparent 75%
        ),
        radial-gradient(
            at 100% 0%,
            color-mix(in srgb, var(--color-tertiary-500), transparent 82%) 0px,
            transparent 50%
        );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    @apply bg-surface-950;
}

a {
    @apply text-tertiary-500;
}

*:focus-within {
    outline: none;
}

.checkbox:focus,
.checkbox:active,
.checkbox:focus-visible {
    box-shadow: none;
}
