@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';

@import '@skeletonlabs/skeleton/themes/mona';
@import '@skeletonlabs/skeleton/themes/vox';
@import '@skeletonlabs/skeleton/themes/catppuccin';
@import '@skeletonlabs/skeleton/themes/crimson';
@import '@skeletonlabs/skeleton/themes/legacy';
@import '@skeletonlabs/skeleton/themes/pine';
@import '@skeletonlabs/skeleton/themes/terminus';
@import '@skeletonlabs/skeleton/themes/wintry';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/fennec';
@import '@skeletonlabs/skeleton/themes/mint';
@import '@skeletonlabs/skeleton/themes/nosh';
@import '@skeletonlabs/skeleton/themes/sahara';
@import '@skeletonlabs/skeleton/themes/concord';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
@import '@skeletonlabs/skeleton/themes/modern';
@import '@skeletonlabs/skeleton/themes/nouveau';
@import '@skeletonlabs/skeleton/themes/rocket';
@import '@skeletonlabs/skeleton/themes/seafoam';

@theme {
    --breakpoint-xsm: 680px;

    --color-bronze: oklch(0.6 0.1 45);
    --color-bronze-light: oklch(0.8 0.08 50);

    --color-silver: oklch(0.75 0.01 250);
    --color-silver-light: oklch(0.95 0.01 250);

    --color-gold: oklch(0.84 0.16 88);
    --color-gold-light: oklch(0.94 0.1 95);

    --color-royal-purple: oklch(0.6 0.25 300);
    --color-royal-purple-light: oklch(0.8 0.2 310);
}

html,
body {
    height: 100%;
}

body {
    @apply bg-surface-100;
}

body {
    background-image: radial-gradient(
            at 50% 0%,
            color-mix(in srgb, var(--color-secondary-500), transparent 82%) 0px,
            transparent 75%
        ),
        radial-gradient(
            at 100% 0%,
            color-mix(in srgb, var(--color-tertiary-500), transparent 82%) 0px,
            transparent 50%
        );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    @apply bg-surface-950;
}

a {
    @apply text-tertiary-500;
}

*:focus-within {
    outline: none;
}

.checkbox:focus,
.checkbox:active,
.checkbox:focus-visible {
    box-shadow: none;
    outline: none;
}

input[type='radio']:focus {
    outline: none;
    box-shadow: none;
}
